h2 {
  color: #474747;
}

.form-group {
  input[type="text"] {
    display: block;
    padding: 10px 20px;
    width: 100%;
    height: 50px;
    line-height: 2.1;
    font-size: 14px;
    background-color: #eff3f7;
    border: none;
    outline: none;
  }
  input[type="email"] {
    display: block;
    padding: 10px 20px;
    width: 100%;
    height: 50px;
    line-height: 2.1;
    font-size: 14px;
    background-color: #eff3f7;
    border: none;
    outline: none;
  }

  & textarea {
    padding: 20px;
    width: 100%;
    height: 200px;
    line-height: 2.1;
    font-size: 14px;
    background-color: #eff3f7;
    border: none;
    outline: none;
  }
}

.contact__form {
  & button {
    margin-top: 20px;
    margin-left: 15px;
    border: none;
    outline: none;
    & > a {
      padding: 20px 50px;
      background: deeppink;
      color: white;
      font-size: 14px;
      text-decoration: none;
    }
  }
}
.contact__info {
  &-table-list {
    padding-left: 70px;
    & h3 {
      display: inline-block;
      margin-bottom: 5px;
      color: deeppink;
      border-bottom: 1px solid deeppink;
    }

    & p {
      color: #474747;

      line-height: 2.1;
      font-size: 14px;
      font-weight: 600;
    }
  }

  &-icon-list {
    display: flex;
    flex-flow: row nowrap;
    padding-left: 70px;
    & > li {
      padding-right: 20px;
    }
    & > li > a > i {
      color: dimgray;
    }
  }
}
