.topbar {
  background-color: deeppink;
}
.top-bar-icon-list {
  display: flex;
  flex-flow: row;

  & > li {
    padding-right: 30px;
  }
  & > li > a {
    color: white;
    font-size: 14px;
  }
}

.top-bar-reg-log-list {
  text-align: right;
  & > a {
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
  }

  & > span {
    color: white;
  }
}

.top__nav-logo {
  img {
    width: 35%;
  }
}

.top-nav-menu-list {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 20px;
  & > li {
    padding-right: 25px;
  }
  & > li > a {
    color: black;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    &:hover {
      color: deeppink;
    }
  }
  & > li > a.topbar__active {
    color: deeppink;
  }
}
.top-nav-iconsearch {
  padding-top: 20px;
  & > a > i {
    padding: 7px;
    border-radius: 5px;
    color: white;
    background-color: deeppink;
    font-size: 14px;
  }
}
@media only screen and (max-width: 766px) {
  .top-bar-icon {
    display: none;
  }
  .top-bar-reg-log-list {
    padding: 0;
    text-align: center;
  }
  .top-nav-menu-list {
    display: none;
  }

  .top__nav-logo {
    img {
      width: 100%;
    }
  }

  .top-nav-iconsearch {
    padding: 0;
    padding-right: 15px;
    & > a > i {
      padding: 12px;
    }
  }

  .top__nav {
    position: relative;
  }
  .top__nav-icon {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
  }
  .top-nav-menu-mobile {
    & > i {
      padding: 8px;
      border: 1px solid #dddddd;
      font-size: 20px;
    }
  }
  .top-nav-menu-list-2 {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 999;
    display: none;
    width: 100%;
    border: 1px solid white;
    background-color: white;

    & > li > a {
      display: block;
      padding: 13px 20px;
      border-top: 1px solid #ededed;
      color: black;
      font-size: 15px;
      text-decoration: none;
      white-space: nowrap;
      &:hover {
        color: deeppink;
      }
      &.topbar__active {
        color: deeppink;
      }
    }
    &.top-nav-menu-list-2-open-close {
      display: block;
    }
  }
}

@media only screen and (min-width: 767px) {
  .top-nav-menu-mobile {
    display: none;
  }
}
